<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'detect.css') }}">
        <link rel="stylesheet" href="/static/detect.css">
    </head>
    <body>
        <header style="font-size: 150px; text-align: center; margin-top: 11%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            TOOGLE FOOGLE

        </header>
        <div class="main">
           <form action="" method="POST">
                <textarea name="statement" placeholder="Your wildest confessions here..." cols="50" rows="2" style="font-size: 25px;"></textarea>
                <div><button class="new">SUBMIT</button></div>
           </form>
    </div>
    </body>
</html>